.toolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  .counter,
  .clear-completed button {
    font-size: 0.8rem;
    white-space: nowrap;
    margin: 0.25rem;
    padding: 0.25rem 1rem;
  }

  .clear-completed button:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .filter {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}
